/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$index-again-black-name: 'index_again-black';
$index-again-black-x: 447px;
$index-again-black-y: 231px;
$index-again-black-offset-x: -447px;
$index-again-black-offset-y: -231px;
$index-again-black-width: 280px;
$index-again-black-height: 57px;
$index-again-black-total-width: 1055px;
$index-again-black-total-height: 506px;
$index-again-black-image: '../img/index.png';
$index-again-black: (447px, 231px, -447px, -231px, 280px, 57px, 1055px, 506px, '../img/index.png', 'index_again-black', );
$index-again-white-name: 'index_again-white';
$index-again-white-x: 731px;
$index-again-white-y: 292px;
$index-again-white-offset-x: -731px;
$index-again-white-offset-y: -292px;
$index-again-white-width: 280px;
$index-again-white-height: 57px;
$index-again-white-total-width: 1055px;
$index-again-white-total-height: 506px;
$index-again-white-image: '../img/index.png';
$index-again-white: (731px, 292px, -731px, -292px, 280px, 57px, 1055px, 506px, '../img/index.png', 'index_again-white', );
$index-another-black-name: 'index_another-black';
$index-another-black-x: 447px;
$index-another-black-y: 292px;
$index-another-black-offset-x: -447px;
$index-another-black-offset-y: -292px;
$index-another-black-width: 280px;
$index-another-black-height: 57px;
$index-another-black-total-width: 1055px;
$index-another-black-total-height: 506px;
$index-another-black-image: '../img/index.png';
$index-another-black: (447px, 292px, -447px, -292px, 280px, 57px, 1055px, 506px, '../img/index.png', 'index_another-black', );
$index-another-white-name: 'index_another-white';
$index-another-white-x: 731px;
$index-another-white-y: 170px;
$index-another-white-offset-x: -731px;
$index-another-white-offset-y: -170px;
$index-another-white-width: 280px;
$index-another-white-height: 57px;
$index-another-white-total-width: 1055px;
$index-another-white-total-height: 506px;
$index-another-white-image: '../img/index.png';
$index-another-white: (731px, 170px, -731px, -170px, 280px, 57px, 1055px, 506px, '../img/index.png', 'index_another-white', );
$index-copyright-black-name: 'index_copyright-black';
$index-copyright-black-x: 743px;
$index-copyright-black-y: 369px;
$index-copyright-black-offset-x: -743px;
$index-copyright-black-offset-y: -369px;
$index-copyright-black-width: 156px;
$index-copyright-black-height: 12px;
$index-copyright-black-total-width: 1055px;
$index-copyright-black-total-height: 506px;
$index-copyright-black-image: '../img/index.png';
$index-copyright-black: (743px, 369px, -743px, -369px, 156px, 12px, 1055px, 506px, '../img/index.png', 'index_copyright-black', );
$index-copyright-white-name: 'index_copyright-white';
$index-copyright-white-x: 743px;
$index-copyright-white-y: 353px;
$index-copyright-white-offset-x: -743px;
$index-copyright-white-offset-y: -353px;
$index-copyright-white-width: 156px;
$index-copyright-white-height: 12px;
$index-copyright-white-total-width: 1055px;
$index-copyright-white-total-height: 506px;
$index-copyright-white-image: '../img/index.png';
$index-copyright-white: (743px, 353px, -743px, -353px, 156px, 12px, 1055px, 506px, '../img/index.png', 'index_copyright-white', );
$index-equal-black-name: 'index_equal-black';
$index-equal-black-x: 1015px;
$index-equal-black-y: 231px;
$index-equal-black-offset-x: -1015px;
$index-equal-black-offset-y: -231px;
$index-equal-black-width: 25px;
$index-equal-black-height: 45px;
$index-equal-black-total-width: 1055px;
$index-equal-black-total-height: 506px;
$index-equal-black-image: '../img/index.png';
$index-equal-black: (1015px, 231px, -1015px, -231px, 25px, 45px, 1055px, 506px, '../img/index.png', 'index_equal-black', );
$index-equal-white-name: 'index_equal-white';
$index-equal-white-x: 1015px;
$index-equal-white-y: 170px;
$index-equal-white-offset-x: -1015px;
$index-equal-white-offset-y: -170px;
$index-equal-white-width: 25px;
$index-equal-white-height: 45px;
$index-equal-white-total-width: 1055px;
$index-equal-white-total-height: 506px;
$index-equal-white-image: '../img/index.png';
$index-equal-white: (1015px, 170px, -1015px, -170px, 25px, 45px, 1055px, 506px, '../img/index.png', 'index_equal-white', );
$index-estimate-name: 'index_estimate';
$index-estimate-x: 447px;
$index-estimate-y: 170px;
$index-estimate-offset-x: -447px;
$index-estimate-offset-y: -170px;
$index-estimate-width: 280px;
$index-estimate-height: 57px;
$index-estimate-total-width: 1055px;
$index-estimate-total-height: 506px;
$index-estimate-image: '../img/index.png';
$index-estimate: (447px, 170px, -447px, -170px, 280px, 57px, 1055px, 506px, '../img/index.png', 'index_estimate', );
$index-logo-big-name: 'index_logo-big';
$index-logo-big-x: 0px;
$index-logo-big-y: 0px;
$index-logo-big-offset-x: 0px;
$index-logo-big-offset-y: 0px;
$index-logo-big-width: 443px;
$index-logo-big-height: 443px;
$index-logo-big-total-width: 1055px;
$index-logo-big-total-height: 506px;
$index-logo-big-image: '../img/index.png';
$index-logo-big: (0px, 0px, 0px, 0px, 443px, 443px, 1055px, 506px, '../img/index.png', 'index_logo-big', );
$index-logo-white-name: 'index_logo-white';
$index-logo-white-x: 447px;
$index-logo-white-y: 353px;
$index-logo-white-offset-x: -447px;
$index-logo-white-offset-y: -353px;
$index-logo-white-width: 144px;
$index-logo-white-height: 40px;
$index-logo-white-total-width: 1055px;
$index-logo-white-total-height: 506px;
$index-logo-white-image: '../img/index.png';
$index-logo-white: (447px, 353px, -447px, -353px, 144px, 40px, 1055px, 506px, '../img/index.png', 'index_logo-white', );
$index-logo-name: 'index_logo';
$index-logo-x: 595px;
$index-logo-y: 353px;
$index-logo-offset-x: -595px;
$index-logo-offset-y: -353px;
$index-logo-width: 144px;
$index-logo-height: 40px;
$index-logo-total-width: 1055px;
$index-logo-total-height: 506px;
$index-logo-image: '../img/index.png';
$index-logo: (595px, 353px, -595px, -353px, 144px, 40px, 1055px, 506px, '../img/index.png', 'index_logo', );
$index-start-name: 'index_start';
$index-start-x: 731px;
$index-start-y: 231px;
$index-start-offset-x: -731px;
$index-start-offset-y: -231px;
$index-start-width: 280px;
$index-start-height: 57px;
$index-start-total-width: 1055px;
$index-start-total-height: 506px;
$index-start-image: '../img/index.png';
$index-start: (731px, 231px, -731px, -231px, 280px, 57px, 1055px, 506px, '../img/index.png', 'index_start', );
$index-ttl-name: 'index_ttl';
$index-ttl-x: 447px;
$index-ttl-y: 0px;
$index-ttl-offset-x: -447px;
$index-ttl-offset-y: 0px;
$index-ttl-width: 608px;
$index-ttl-height: 166px;
$index-ttl-total-width: 1055px;
$index-ttl-total-height: 506px;
$index-ttl-image: '../img/index.png';
$index-ttl: (447px, 0px, -447px, 0px, 608px, 166px, 1055px, 506px, '../img/index.png', 'index_ttl', );
$index-yen-black-name: 'index_yen-black';
$index-yen-black-x: 56px;
$index-yen-black-y: 447px;
$index-yen-black-offset-x: -56px;
$index-yen-black-offset-y: -447px;
$index-yen-black-width: 45px;
$index-yen-black-height: 52px;
$index-yen-black-total-width: 1055px;
$index-yen-black-total-height: 506px;
$index-yen-black-image: '../img/index.png';
$index-yen-black: (56px, 447px, -56px, -447px, 45px, 52px, 1055px, 506px, '../img/index.png', 'index_yen-black', );
$index-yen-white-name: 'index_yen-white';
$index-yen-white-x: 0px;
$index-yen-white-y: 447px;
$index-yen-white-offset-x: 0px;
$index-yen-white-offset-y: -447px;
$index-yen-white-width: 52px;
$index-yen-white-height: 59px;
$index-yen-white-total-width: 1055px;
$index-yen-white-total-height: 506px;
$index-yen-white-image: '../img/index.png';
$index-yen-white: (0px, 447px, 0px, -447px, 52px, 59px, 1055px, 506px, '../img/index.png', 'index_yen-white', );
$index-width: 1055px;
$index-height: 506px;
$index-image: '../img/index.png';
$index-sprites: ($index-again-black, $index-again-white, $index-another-black, $index-another-white, $index-copyright-black, $index-copyright-white, $index-equal-black, $index-equal-white, $index-estimate, $index-logo-big, $index-logo-white, $index-logo, $index-start, $index-ttl, $index-yen-black, $index-yen-white, );
$index: (1055px, 506px, '../img/index.png', $index-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
