/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$index-again-name: 'index_again';
$index-again-x: 0px;
$index-again-y: 146px;
$index-again-offset-x: 0px;
$index-again-offset-y: -146px;
$index-again-width: 280px;
$index-again-height: 57px;
$index-again-total-width: 519px;
$index-again-total-height: 388px;
$index-again-image: '../img/index.png';
$index-again: (0px, 146px, 0px, -146px, 280px, 57px, 519px, 388px, '../img/index.png', 'index_again', );
$index-copyright-black-name: 'index_copyright-black';
$index-copyright-black-x: 284px;
$index-copyright-black-y: 183px;
$index-copyright-black-offset-x: -284px;
$index-copyright-black-offset-y: -183px;
$index-copyright-black-width: 156px;
$index-copyright-black-height: 12px;
$index-copyright-black-total-width: 519px;
$index-copyright-black-total-height: 388px;
$index-copyright-black-image: '../img/index.png';
$index-copyright-black: (284px, 183px, -284px, -183px, 156px, 12px, 519px, 388px, '../img/index.png', 'index_copyright-black', );
$index-copyright-white-name: 'index_copyright-white';
$index-copyright-white-x: 284px;
$index-copyright-white-y: 244px;
$index-copyright-white-offset-x: -284px;
$index-copyright-white-offset-y: -244px;
$index-copyright-white-width: 156px;
$index-copyright-white-height: 12px;
$index-copyright-white-total-width: 519px;
$index-copyright-white-total-height: 388px;
$index-copyright-white-image: '../img/index.png';
$index-copyright-white: (284px, 244px, -284px, -244px, 156px, 12px, 519px, 388px, '../img/index.png', 'index_copyright-white', );
$index-equal-name: 'index_equal';
$index-equal-x: 333px;
$index-equal-y: 268px;
$index-equal-offset-x: -333px;
$index-equal-offset-y: -268px;
$index-equal-width: 25px;
$index-equal-height: 45px;
$index-equal-total-width: 519px;
$index-equal-total-height: 388px;
$index-equal-image: '../img/index.png';
$index-equal: (333px, 268px, -333px, -268px, 25px, 45px, 519px, 388px, '../img/index.png', 'index_equal', );
$index-estimate-name: 'index_estimate';
$index-estimate-x: 0px;
$index-estimate-y: 207px;
$index-estimate-offset-x: 0px;
$index-estimate-offset-y: -207px;
$index-estimate-width: 280px;
$index-estimate-height: 57px;
$index-estimate-total-width: 519px;
$index-estimate-total-height: 388px;
$index-estimate-image: '../img/index.png';
$index-estimate: (0px, 207px, 0px, -207px, 280px, 57px, 519px, 388px, '../img/index.png', 'index_estimate', );
$index-logo-name: 'index_logo';
$index-logo-x: 284px;
$index-logo-y: 146px;
$index-logo-offset-x: -284px;
$index-logo-offset-y: -146px;
$index-logo-width: 162px;
$index-logo-height: 33px;
$index-logo-total-width: 519px;
$index-logo-total-height: 388px;
$index-logo-image: '../img/index.png';
$index-logo: (284px, 146px, -284px, -146px, 162px, 33px, 519px, 388px, '../img/index.png', 'index_logo', );
$index-start-name: 'index_start';
$index-start-x: 0px;
$index-start-y: 268px;
$index-start-offset-x: 0px;
$index-start-offset-y: -268px;
$index-start-width: 280px;
$index-start-height: 57px;
$index-start-total-width: 519px;
$index-start-total-height: 388px;
$index-start-image: '../img/index.png';
$index-start: (0px, 268px, 0px, -268px, 280px, 57px, 519px, 388px, '../img/index.png', 'index_start', );
$index-ttl-white-name: 'index_ttl-white';
$index-ttl-white-x: 284px;
$index-ttl-white-y: 207px;
$index-ttl-white-offset-x: -284px;
$index-ttl-white-offset-y: -207px;
$index-ttl-white-width: 162px;
$index-ttl-white-height: 33px;
$index-ttl-white-total-width: 519px;
$index-ttl-white-total-height: 388px;
$index-ttl-white-image: '../img/index.png';
$index-ttl-white: (284px, 207px, -284px, -207px, 162px, 33px, 519px, 388px, '../img/index.png', 'index_ttl-white', );
$index-ttl-name: 'index_ttl';
$index-ttl-x: 0px;
$index-ttl-y: 0px;
$index-ttl-offset-x: 0px;
$index-ttl-offset-y: 0px;
$index-ttl-width: 519px;
$index-ttl-height: 142px;
$index-ttl-total-width: 519px;
$index-ttl-total-height: 388px;
$index-ttl-image: '../img/index.png';
$index-ttl: (0px, 0px, 0px, 0px, 519px, 142px, 519px, 388px, '../img/index.png', 'index_ttl', );
$index-yen-2-name: 'index_yen-2';
$index-yen-2-x: 0px;
$index-yen-2-y: 329px;
$index-yen-2-offset-x: 0px;
$index-yen-2-offset-y: -329px;
$index-yen-2-width: 52px;
$index-yen-2-height: 59px;
$index-yen-2-total-width: 519px;
$index-yen-2-total-height: 388px;
$index-yen-2-image: '../img/index.png';
$index-yen-2: (0px, 329px, 0px, -329px, 52px, 59px, 519px, 388px, '../img/index.png', 'index_yen-2', );
$index-yen-name: 'index_yen';
$index-yen-x: 284px;
$index-yen-y: 268px;
$index-yen-offset-x: -284px;
$index-yen-offset-y: -268px;
$index-yen-width: 45px;
$index-yen-height: 52px;
$index-yen-total-width: 519px;
$index-yen-total-height: 388px;
$index-yen-image: '../img/index.png';
$index-yen: (284px, 268px, -284px, -268px, 45px, 52px, 519px, 388px, '../img/index.png', 'index_yen', );
$index-width: 519px;
$index-height: 388px;
$index-image: '../img/index.png';
$index-sprites: ($index-again, $index-copyright-black, $index-copyright-white, $index-equal, $index-estimate, $index-logo, $index-start, $index-ttl-white, $index-ttl, $index-yen-2, $index-yen, );
$index: (519px, 388px, '../img/index.png', $index-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
