// ========================================
//   index
// ========================================

@import "../index.scss";
@import "../item.scss";

.header_ttl{
    @include absolute(40px, '', '', 60px);
    @include sprite($index_logo);
    @include hide-text();
}

.contents{
    position: relative;
    height: 100vh;
    min-height: 650px;
    background-color: #F2F2F2;
    color: #333333;

    &.show_result{
        height: auto;
    }
}

// ========================================
//   firstview
// ========================================

.firstview{
    .firstview_start{
        @include absolute(50%, 0, '', 0);
        margin: auto;
        @include hide-text();
        transform: translateY(145px);
        cursor: pointer;

        &:hover{
            opacity: 0.7;
        }
    }

    &[data-id="1"]{
        .firstview_ttl{
            @include absolute(50%, 0, '', 0);
            @include sprite($index_ttl);
            margin: auto;
            transform: translateY(-175px);
            @include hide-text();
        }

        .firstview_txt{
            @include absolute(50%, 0, '', 0);
            width: 580px;
            margin: auto;
            font-size: 18px;
            transform: translateY(15px);
        }

        .firstview_start{
            @include sprite($index_start);
        }
    }

    &[data-id="2"]{
        display: none;
        opacity: 0;

        .firstview_subttl{
            @include absolute(50%, 0, '', 0);
            text-align: center;
            font-size: 18px;
            transform: translateY(-155px);
        }

        .firstview_input{
            @include absolute(50%, 0, '', 0);
            width: 540px;
            margin: auto;
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
            border-bottom: 2px solid #C3C3C3;
            transform: translateY(-50px);

            &:before{
                @include absolute('', '', 15px, 15px);
                @include sprite($index_yen);
                content: "";
            }
        }

        .firstview_input_inner{
            width: 100%;
            height: 1.5em;
            line-height: 1.5em;
            text-align: right;
            border: none;
            background-color: transparent;
            transform: translateY(15px);

            &:focus{
                outline: 0;
            }
        }

        .firstview_start{
            @include sprite($index_estimate);
        }
    }
}

// ========================================
//   result
// ========================================

.result{
    @for $i from 1 through length($item-sprites){
        &[data-id="#{$i}"]{
            .result_item_inner{
                @include sprite(nth($item-sprites, $i));
            }
        }
    }
}

$result_item_width: 1040px;
.result_item_container{
    width: $result_item_width;
    margin: 0 auto;
}

.result_item{
    float: left;
    width: $result_item_width / 10;
    height: 110px;
}

.result_item_inner{
    margin: 0 auto;
}

.result_item_tmpl{
    display: none;
}
