// ========================================
//   index
// ========================================

@import "../index.scss";
@import "../item.scss";

// ========================================
//   common
// ========================================

body{
    background-color: #F2F2F2;
}

.header{
    @include show_result{
        .header_ttl{
            a{
                display: block;
                @include sprite($index_logo-white);
            }
        }
    }

    &[data-color="black"]{
        @include show_result{
            .header_ttl{
                a{
                    @include sprite($index_logo-black);
                }
            }
        }
    }
}

.header_ttl{
    a{
        display: block;
        @include absolute(40px, '', '', 60px);
        @include sprite($index_logo);
        @include hide-text();
    }
}

.header_social{
    @include absolute(30px, 50px, '', '');
    width: 200px;
}

.header_social_inner{
    width: 100px;

    &.fb-like{
        float: left;
    }

    &.tweet{
        float: right;
        text-align: right;
    }
}

.contents{
    position: relative;
    min-height: 650px;
    color: #333333;

    @include show_result{
        height: auto !important;
    }
}

.footer{
    display: none;
    padding: 1px 0;
    margin: 90px auto;
    text-align: center;

    @include show_result{
        display: block;
    }

    &[data-color="black"]{
        .footer_again{
            @include sprite($index_again-black);
        }

        .footer_another{
            @include sprite($index_another-black);
        }
    }
}

.footer_social{
    width: $index_again-white-width;
    margin: auto auto 30px auto;
}

.footer_social_inner{
    cursor: pointer;

    &:hover{
        opacity: 0.7;
    }
}

.footer_social_inner-facebook{
    float: left;
    @include sprite($index_facebook);
}

.footer_social_inner-tweet{
    float: right;
    @include sprite($index_tweet);
}

.footer_inner{
    @include hide-text();
    margin: 20px auto;
    cursor: pointer;

    &:hover{
        opacity: 0.7;
    }
}

.footer_again{
    @include sprite($index_again-white);
}

.footer_another{
    @include sprite($index_another-white);
}

.footer_copyright{
    @include sprite($index_copyright-white);
    @include hide-text();
    margin: 110px auto 50px;
}

// ========================================
//   firstview
// ========================================

.firstview{
    display: none;
    position: relative;
    opacity: 0;

    &[data-id="1"]{
        .firstview_ttl{
            @include absolute(50%, 0, '', 0);
            @include sprite($index_ttl);
            margin: auto;
            transform: translateY(-140px);
            @include hide-text();
        }

        .firstview_txt{
            @include absolute(50%, 0, '', 0);
            width: 580px;
            margin: auto;
            font-size: 18px;
            transform: translateY(50px);
        }

        .firstview_start{
            @include sprite($index_start);
        }
    }

    &[data-id="2"]{
        .firstview_subttl{
            @include absolute(50%, 0, '', 0);
            text-align: center;
            font-size: 18px;
            transform: translateY(-180px);
        }

        .firstview_input{
            @include absolute(50%, 0, '', 0);
            width: 540px;
            margin: auto;
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
            border-bottom: 2px solid #C3C3C3;
            transform: translateY(-75px);

            &:before{
                @include absolute('', '', 15px, 5px);
                @include sprite($index_yen-black);
                content: "";
            }
        }

        .firstview_input_inner{
            width: 100%;
            height: 1.5em;
            line-height: 1.5em;
            text-align: right;
            border: none;
            background-color: transparent;
            transform: translateY(15px);

            &:focus{
                outline: 0;
            }
        }

        .firstview_start{
            @include sprite($index_estimate);
            transform: translateY(120px);
        }
    }
}

.firstview_start{
    @include absolute(50%, 0, '', 0);
    margin: auto;
    @include hide-text();
    transform: translateY(180px);
    cursor: pointer;

    &:hover{
        opacity: 0.7;
    }
}

.firstview_logo-big{
    @include absolute(0, 0, 0, 0);
    @include sprite($index_logo-big);
    margin: auto;
    transform: translateY(-25px);
}


// ========================================
//   result
// ========================================

.result{
    display: none;
    padding: 1px 0;

    &[data-color="black"]{
        .result_item_info{
            color: #000;
        }

        .result_price_yen{
            @include sprite($index_yen-black);
        }

        .result_formula_yen{
            @include sprite($index_yen-black);
        }

        .result_price_num{
            color: #000;
        }

        .result_formula{
            color: #000;
        }

        .result_price{
            &:after{
                @include sprite($index_equal-black);
            }
        }
    }
}

.result_price{
    line-height: 1em;
    margin-top: 240px;
    text-align: center;
    opacity: 0;

    &:after{
        display: block;
        @include sprite($index_equal-white);
        @include hide-text();
        margin: 80px auto;
        content: "";
    }
}

.result_price_yen{
    display: inline-block;
    @include sprite($index_yen-white);
    margin-right: 15px;
}

.result_price_num{
    font-size: 108px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

$result_item_width: 1040px;
$item_row_length: 10;
.result_item{
    position: relative;
    width: $result_item_width;
    height: 900px;
    margin: 0 auto;
    background-size: $result_item_width / $item_row_length $result_item_width / $item_row_length;
    opacity: 0;
}

.result_item_info{
    @include absolute('', 0, '', 0);
    text-align: center;
    font-size: 36px;
    color: #fff;
    opacity: 0;
}

.result_item_big{
    @include absolute('', '', '', 50%);
    width: 600px;
    height: 600px;
    margin-top: (600px / -2);
    margin-left: (600px / -2);
    background-size: contain;
    opacity: 0;
}

.result_item_hide{
    @include absolute('', 0, 0, '');
    height: $result_item_width / $item_row_length;
    background-color: #F2F2F2;
}

.result_formula{
    width: $result_item_width;
    margin: 200px auto 0;
    padding-bottom: 100px;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.result_formula_inner{
    display: inline-block;
}

.result_formula_yen{
    @include sprite($index_yen-white);
    margin-right: 15px;
}

.result_formula_price,
.result_formula_equal,
.result_formula_amount{
    font-size: 104px;
    font-family: 'Roboto Slab', serif;
}

.result_formula_equal{
    margin: 0 25px;
}

.result_formula_amount{
    display: inline-block;
    position: relative;
    margin-left: 80px;
}

.result_formula_amount_icon{
    @include absolute(25px, '', '', -103px);
    width: 100px;
    height: 100px;
    background-size: contain;
}

.result_formula_amount_name{
    @include absolute('', '', 15px, -103px);
    width: 100px;
    font-family: $yu-gothic;
    font-size: 13px;
}


.result_formula_unit{
    font-size: 56px;
    margin-left: 10px;
}

// ===================================
//   smart phone
// ===================================


@import "../index-sp.scss";

// ========================================
//   common
// ========================================

.header{
    @include sp{
        .header_ttl{
            display: none;
            a{
                @include absolute(30px, '', '', 30px);
            }
        }

        .header_social{
            @include absolute(calc(50vh + 380px), auto, '', 50%);
            width: 400px;
            height: 40px;
            margin-left: -200px;
        }

        .header_social_inner{
            &.fb-like{
                width: 200px;
                span{
                    transform-origin: left top;
                    transform: scale(2);
                }
            }

            &.tweet{
                float: left;
                width: 150px;
                text-align: left;
                margin-left: 50px;

                iframe{
                    transform-origin: left top;
                    transform: scale(2);
                }
            }
        }
    }

    body.is_sp.show_result &{
        .header_ttl{
            display: block;
            a{
                @include sprite($index_logo-white);
            }
        }

        &[data-color="black"]{
            .header_ttl{
                a{
                    @include sprite($index_logo-black);
                }
            }
        }
    }
}

.contents{
    @include sp{
        min-height: 0px;

        // ========================================
        //   firstview
        // ========================================

        .firstview{
            &[data-id="1"]{
                .firstview_ttl{
                    @include sprite($index_ttl);
                    transform: translateY(-290px);
                }

                .firstview_txt{
                    width: 640px;
                    font-size: 32px;
                    transform: translateY(0px);
                }

                .firstview_start{
                    @include sprite($index_start);
                }
            }

            &[data-id="2"]{
                overflow: hidden;

                .firstview_subttl{
                    width: 640px;
                    margin: auto;
                    text-align: left;
                    font-size: 32px;
                    transform: translateY(-220px);
                }

                .firstview_input{
                    width: 640px;
                    font-size: 80px;
                    transform: translateY(-100px);

                    &:before{
                        @include absolute('', '', 15px, 15px);
                        @include sprite($index_yen-black);
                        content: "";
                    }
                }

                .firstview_start{
                    @include sprite($index_estimate);
                    transform: translateY(100px);
                }
            }
        }

        .firstview_start{
            transform: translateY(230px);

            &:hover{
                opacity: 1;
            }
        }

        .firstview_logo-big{
            @include sprite($index_logo-big);
            transform: translateY(-190px);
        }


        // ========================================
        //   result
        // ========================================

        .result{
            &[data-color="black"]{
                .result_price_yen{
                    @include sprite($index_yen-black);
                }

                .result_formula_yen{
                    @include sprite($index_yen-black);
                }

                .result_price{
                    &:after{
                        @include sprite($index_equal-black);
                    }
                }
            }
        }

        .result_price{
            &:after{
                @include sprite($index_equal-white);
                margin: 50px auto;
            }
        }

        .result_price_yen{
            @include sprite($index_yen-white);
        }

        $result_item_width: 693px;
        $item_row_length: 7;
        .result_item{
            width: $result_item_width;
            background-size: $result_item_width / $item_row_length $result_item_width / $item_row_length;
        }

        .result_item_hide{
            height: $result_item_width / $item_row_length;
        }

        .result_formula{
            width: $result_item_width;
            margin: 60px auto 0;
        }

        .result_formula_price,
        .result_formula_equal,
        .result_formula_amount{
            font-size: 64px;
        }

        .result_formula_amount_icon{
            @include absolute(-5px, '', '', -98px);
        }

        .result_formula_amount_name{
            @include absolute('', '', -30px, -103px);
            width: 100px;
            font-size: 18px;
        }

        .result_formula_yen{
            @include sprite($index_yen-white);
        }
    }
}

.footer{
    @include sp{
        &[data-color="black"]{
            .footer_again{
                @include sprite($index_again-black);
            }

            .footer_another{
                @include sprite($index_another-black);
            }
        }

        .footer_social{
            width: 480px;
        }

        .footer_social_inner-facebook{
            @include sprite($index_facebook);
        }

        .footer_social_inner-tweet{
            @include sprite($index_tweet);
        }

        .footer_inner{
            &:hover{
                opacity: 1;
            }
        }

        .footer_again{
            @include sprite($index_again-white);
            margin-top: 20px;
        }

        .footer_another{
            @include sprite($index_another-white);
        }

        .footer_copyright{
            @include sprite($index_copyright-white);
        }
    }

    body.is_sp.show_result &{
        display: block;
    }
}
